@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* > * {
    font-family: 'League Spartan', sans-serif;
}

body{
/* Backgrounds */

--Very-dark-desaturated-blue-main-background: hsl(222, 26%, 31%);
--Very-dark-desaturated-blue-toggle-background-keypad-background: hsl(223, 31%, 20%);
--Very-dark-desaturated-blue-screen-background: hsl(224, 36%, 15%);

/* Keys */

--Desaturated-dark-blue-key-background: hsl(225, 21%, 49%);
--Desaturated-dark-blue-key-shadow: hsl(224, 28%, 35%);

--Red-key-background-toggle: hsl(6, 63%, 50%);
--Dark-red-key-shadow: hsl(6, 70%, 34%);

--Light-grayish-orange-key-background: hsl(30, 25%, 89%);
--Grayish-orange-key-shadow: hsl(28, 16%, 65%);

/* Text */

--Very-dark-grayish-blue: hsl(221, 14%, 31%);
--White: hsl(0, 0%, 100%);

background-color: var(--Very-dark-desaturated-blue-main-background);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100dvh;
overflow: hidden;
}

body.theme2{
    --Very-dark-desaturated-blue-main-background: hsl(0, 0%, 90%);
    --Very-dark-desaturated-blue-toggle-background-keypad-background: hsl(0, 5%, 81%);
    --Very-dark-desaturated-blue-screen-background:  hsl(0, 0%, 93%);

    /* keys */
    --Desaturated-dark-blue-key-background: hsl(185, 42%, 37%);
    --Desaturated-dark-blue-key-shadow: hsl(185, 58%, 25%);

    --Red-key-background-toggle: hsl(25, 98%, 40%);
    --Dark-red-key-shadow: hsl(25, 99%, 27%);

    --Light-grayish-orange-key-background: hsl(45, 7%, 89%);
    --Grayish-orange-key-shadow: hsl(35, 11%, 61%);

    /* text  */
    --White: hsl(60, 10%, 19%);

}

body.theme3{
    /* Backgrounds */

--Very-dark-desaturated-blue-main-background: hsl(268, 75%, 9%);
--Very-dark-desaturated-blue-toggle-background-keypad-background:hsl(268, 71%, 12%);
--Very-dark-desaturated-blue-screen-background:hsl(268, 71%, 12%);

/* Keys */

--Desaturated-dark-blue-key-background: hsl(281, 89%, 26%);
--Desaturated-dark-blue-key-shadow: hsl(285, 91%, 52%);

--Red-key-background-toggle:  hsl(176, 100%, 44%);
--Dark-red-key-shadow: hsl(177, 92%, 70%);

--Light-grayish-orange-key-background: hsl(268, 47%, 21%);
--Grayish-orange-key-shadow: hsl(290, 70%, 36%);

--Very-dark-grayish-blue: hsl(52, 100%, 62%);
-Very-dark-blue: hsl(198, 20%, 13%);
--White: hsl(0, 0%, 100%);
}

.container{
    width: 30dvw;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--White);
    width: 110%;
}

.mode-changer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.mode-changer p{
    margin-right: 20px;
}

input[type="checkbox"]{
    -webkit-appearance: none;
    position: relative;
    width: 60px;
    height: 20px;
    border-radius: 50px;
    outline: none;
    background-color: var(--Very-dark-desaturated-blue-toggle-background-keypad-background);
}

input[type="checkbox"]::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--Red-key-background-toggle);
    border-radius: 50px;
    transition: transform 0.3s ease;
}

input[type="checkbox"].checked::before{
    transform: translate(100%);
}

input[type="checkbox"].indeterminate::before {
    transform: translate(200%);
}

.display{
    content: "";
    height: 4rem;
    width: 100%;
    background-color: var(--Very-dark-desaturated-blue-screen-background);
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
    color: var(--White);
    font-size: 38px;
    overflow-x: auto;
    white-space: nowrap;
}

.buttons{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--Very-dark-desaturated-blue-toggle-background-keypad-background);
}

.keys{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.key{
    user-select: none;
    width: 22%;
    height: 2em;
    border-radius: 5px;
    margin-bottom: 0.7em;
    font-size: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--Light-grayish-orange-key-background);
    color: var(--Very-dark-grayish-blue);
    box-shadow: 1px 2px 2px var(--Grayish-orange-key-shadow);
}

.key:hover{
    background-color: var(--White);
}

.bottom-key{
    width: 48%;
    margin: 0;
}

.same-color{
    background-color: var(--Desaturated-dark-blue-key-shadow);
    box-shadow: 1px 2px 2px var(--Desaturated-dark-blue-key-shadow);
    color: var(--White);
}

.same-color:hover{
    background-color: var(--Desaturated-dark-blue-key-background);
}

.equal{
    background-color: var(--Dark-red-key-shadow);
    box-shadow: 1px 2px 2px var(--Dark-red-key-shadow);
    color: var(--White);
}

.equal:hover{
    background-color: var(--Red-key-background-toggle);
}












.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
